<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
</head>
<body>
<table id="student" style="width:100%">
    {% if result %}
    <tr>
        <th>Roll No</th>
        <th>Name</th>
        <th>Dept</th>
    </tr>
    {% for row in result %}
    <tr>
        <td> {{ row.roll_no }}</td>
        <td> {{ row.name }}</td>
        <td> {{ row.dept}}</td>
    </tr>
    {% endfor %}
    {% endif %}
</table>
</body>
</html>
